:root{
  --mainBlue:#2a2a72;
  --lightblue:#009ffd;
  --mainWhite:#ffffff;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainOrange:#ec5e3e;
  --main-bg:#fafafa;
  --mainBlack:#000000;
  --mainGray:#666666;
  --lightGray:#cccccc;
  --mainBuy:#5bced3;
  --mainGreen:#060;
  --buyProduct:#484848;
  --SellProduct:#f4f4f4;
}
a{
  text-decoration: none;
}
@font-face {
  font-family: Poppins-Bold;
  src: url('fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: Poppins-Light;
  src: url('fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: Poppins-Regular;
  src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url('fonts/Poppins-SemiBold.ttf');
}
body{
  font-family: Poppins-Light !important;
  color: var(--mainDark) !important;
  overflow-x: hidden;
  background-color: #ffffff !important;
}
.text-title{
  font-family: "Oswald",sans-serif !important;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.text-orange{
  counter-reset:var(--mainOrange);
}
.text-black{
  counter-reset:var(--mainDark);
}

#page-header {
  background: #fafafa;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 3px;
}
#page-header .buy-phone.active, #page-header .sell-phone.active {
  background-color: var(--mainOrange);
  color: var(--mainWhite);
}
#page-header .buy-phone {
  margin-left: 10px;
}
#page-header .logo{
  height: 45px;
  width: 150px;
  object-fit: cover;
}
#page-header .buy-phone, #page-header .sell-phone {
  border: 2px solid var(--mainOrange);
  color: var(--mainOrange);
  font-size: 18px;
  font-weight: 700;
  padding: 10px 50px;
  text-decoration: none;
}
#page-header .no1-site h4{
  font-family: "vagroundedstd bold",Arial,Helvetica,sans-serif;
  color: var(--mainOrange);
  line-height: 24px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 10px;
}
.svg.rosette {
  float: left;
}

.jumbotron {
  background-color: #5bced3;
  margin-bottom: 30px;
  margin-top: 20px;
  min-height: 344px;
  padding: 0;
}

.jumbotron .row {
  margin-bottom: 0;
}
.row {
  display: block;
  margin-bottom: 10px;
}

.jumbotron h1 {
  color: var(--mainBlack);
  font-family: Oswald,sans-serif;
  font-size: 52px;
  margin-top: 50px;
}
.jumbotron h3 {
  color: var(--mainWhite);
  font-family: Lato,sans-serif;
  font-size: 30px;
  margin-bottom: 45px;
  margin-top: 45px;
}

.home-search {
  margin-left: 75px;
  padding-bottom: 10px;
  position: relative;
  top: -1px;
}

.home-search .form-group {
  display: block;
}

.home-search form span.glyphicon-search {
  float: left;
  left: 15px;
  margin-top: -25px;
  position: relative;
  top: 35px;
}

.home-search form input {
  border-radius: 0;
  font-size: 18px;
  height: auto!important;
  outline: 0;
  padding: 10px;
  padding-left: 50px;
}
.sign-up-logo{
  justify-content: center;
  align-items: center;
}
.sign-up-logo img{
  width: 100%;
}
.sign-up-form h3{
  font-weight: bold;
}
.sign-up-form p a{
  color: var(--mainOrange);
  text-decoration: none;
}
.sign-up-form p{
  color: var(--mainGray);
}
.sign-up-form h6{
  font-weight: bold;
}
.sign-up-form label{
  font-size: .8rem;
  font-weight: bold;
}
.sign-up-form .form-control{
  border: 1px solid var(--mainBlack);
  border-radius: 0;
}
/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background: #09131b;
  color: var(--mainWhite);
  min-height: 100vh;
}

/* header */
.header {
  background: #122331;
  position: relative;
  max-width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
}
.header a {
  text-decoration: none;
  color: var(--mainWhite);
}
.header ul {
  list-style: none;
}
.logo {
  font-size: 2rem;
}
.menu-items {
  display: flex;
  align-items: center;
}
.menu-items li {
  padding: 0.5rem 1rem;
  transition: background 0.3s ease-in-out;
}
.menu-items li:hover {
  background-color: #ff652f;
}

/* dropdown */
.dropdown {
  position: relative;
}
.dropdown-menu,
.menu-right {
  position: absolute;
  background: #122331;
  width: 100%;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.menu-right {
  top: 0;
  left: 110%;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  top: 28px;
  opacity: 1;
  visibility: visible;
}
.dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

/* mega menu  */
.mega-menu {
  position: absolute;
  left: 0;
  width: 80vw;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-menu .content {
  background: #122331;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.blog .content {
  grid-template-columns: repeat(3, 1fr);
}
.content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 3rem;
}
.content .col .img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 20vw;
  overflow: hidden;
}
.content .col .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content .col img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.content .col .img-wrapper:hover img {
  transform: scale(1.1);
}
.content .col h2 {
  color: #ff652f;
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
}
.content .col p {
  line-height: 1.2rem;
}
.content .col .mega-links {
  border-left: 1px solid #1a3246;
}
.content .col .read-more {
  display: inline-block;
  padding-top: 1rem;
  color: #427dad;
  transition: color 0.3s ease;
}
.col .mega-links li,
.col .mega-links li a {
  padding: 0 1rem;
}
.menu-items li:hover .mega-menu {
  top: 50px;
  opacity: 1;
  visibility: visible;
}
.content .col .read-more:hover {
  color: #ff652f;
}

/* section */
.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section h1 {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  line-height: 6vw;
  color: #427dad;
  text-transform: uppercase;
}

/* NEW STUFFS */

/* nav menu button */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute;
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background: var(--mainWhite);
  transition: all 0.5s ease-in-out;
}
.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
  transform: translateY(0.5rem);
}
/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background: transparent;
}
.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background: var(--mainWhite);
}
.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background: var(--mainWhite);
}
/*Custom style*/
.menu-border{
  border-bottom: 2px solid var(--mainOrange);
  background-color: var(--main-bg);
}
.menu-border .navbar{
  padding-top: 0;
  padding-bottom: 0;
}
.menu-large {
  position: static !important;
}
.menu-large .nav-link{
  color: var(--mainBlack) !important;
  text-transform: uppercase;
}
.menu-large > .nav-link:hover{
  background-color: var(--mainOrange);
  color: var(--mainWhite) !important;
}
.menu-large:hover .megamenu{
  display: block !important;
}
.dropdown-toggle::after{
  border: 0 !important;
}
.megamenu {
  padding: 20px 20px !important;
  width: 100%;
  background-color: rgba(233,233,233,0.95) !important;
  margin-top: 13px !important;
  border: 0 !important;
  border-radius: 0 !important;
}
.megamenu h6{
  font-weight: bold;
}
.megamenu .dropdown-item{
  padding: .25rem .25rem;
}
.megamenu .dropdown-item:hover,
.megamenu .dropdown-item:visited{
  background-color: var(--mainOrange);
  color: var(--mainWhite) !important;
}
.banner-left{
  background-color: var(--main-bg);
  height: 630px;
}
.banner-right{
  background-color: var(--mainOrange);
  height: 630px;
}
.banner-right .phones{
  margin-left: -493px;
  margin-top: -653px;
  position: relative;
  top: 653px;
  left: 250px;
  width: 60%;
}
.page-carousel-search{
  position: relative;
}
.foreground{
  position: absolute;
  top: 100px;
  width: 100%;
}
.foreground .card{
  background-color: var(--mainWhite);
}
.foreground .search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.foreground .search input {
  height: 40px;
  text-indent: 0px;
  border: 2px solid #d6d4d4
}

.foreground .search input:focus {
  box-shadow: none;
  border: 2px solid var(--mainOrange)
}

.foreground .search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px
}

.foreground .search .btn-search {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px;
  width: 110px;
  background: var(--mainOrange);
  color: var(--mainWhite);
  border-radius: 0;
}
.foreground .badges h6{
  font-weight: bold;
  margin-bottom: 0;
}
.foreground .badges a{
  background-color: var(--main-bg);
  color: var(--mainBlack);
  text-decoration: none;
}
.media-object{
  margin-top: 1rem;
}
.media-object img{
  width: 25px;
}
.media-object h5{
  color: var(--mainOrange);
}
.sell-banner{
  width: 90%;
}
.sell-banner .lead{
  color: var(--mainOrange);
  font-weight: bold;
}
.sell-banner .heading{
  color: var(--mainBlack);
  font-weight: bold;
  font-family: cursive;
}
.sell-banner .heading span{
  color: var(--mainOrange);
}
.buy-banner{
  position: relative;
  left: 250px;
}
.buy-banner .lead{
  color: var(--mainYellow);
}
.buy-banner h2{
  color: var(--mainWhite);
  font-family: Poppins-SemiBold;
}
.buy-banner .btn-buy{
  margin-top: 1rem;
  background-color: transparent;
  border-radius: 0;
  border: 2px solid var(--mainWhite);
  color: var(--mainWhite);
  padding: .5rem 2rem;
}
.upgrade{
  text-align: center;
  font-family: Poppins-SemiBold;
  margin-top: 1rem;
}
.upgrade h2{
  font-size: 2rem;
}
.upgrade h4{
  font-size: 1.5rem;
}
.upgrade h2 span,
.upgrade h4 span{
  color: var(--mainOrange);
}
.upgrade h3{
  color: var(--mainGray);
  font-style: italic;
}
.upgrade p{
  font-family: Poppins-Regular;
  color: var(--mainGray);
}
.upgrade h6{
  color: var(--mainGray);
}
.upgrade-mobile img{
  margin-top: 1rem;
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.upgrade-btn:hover,
.upgrade-btn {
  border: 2px solid var(--mainOrange);
  color: var(--mainOrange);
  padding: .75rem 1.5rem;
  margin: .5rem;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
.popular-trade{
  text-align: center;
  font-weight: bold;
  font-family: Poppins-SemiBold;
  color: var(--mainGray);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.product .product-image{
  width: 100%;
  height: 180px;
  object-fit: contain;
}
.product .product-details h3{
  font-family: Poppins-SemiBold;
  font-size: 1.5rem;
}
.product .product-details h6{
  font-weight: bold;
  color: var(--mainOrange);
  margin-bottom: 5px;
}
.product .product-details h2{
  font-family: Poppins-Bold;
  font-weight: bold;
  color: var(--mainOrange);
}
.product .product-details h5{
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.product .sell-now{
  background: var(--mainYellow);
  text-decoration: none;
  color: var(--mainWhite);
  padding: 5px 15px;
  border-radius: 3px;
}
.brand-search{
  font-weight: bold;
  font-family: Poppins-SemiBold;
  color: var(--mainGray);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.perfect-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.brand-height{
  min-height: 200px
}
.brand-image{
  width: 200px;
}
.all-brands{
  color: var(--mainGray) !important;
}
.compare-price{
  background-color: var(--main-bg);
}
.compare-mobile img{
  width: 200px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.company-logo{
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}
.company-more-btn{
  border: 1px solid var(--mainOrange);
  color: var(--mainOrange);
  padding: 1rem 1.8rem;
  text-decoration: none;
}
.steps{
  text-align: center;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.step-image{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.steps p{
  margin-top: .5rem;
  color: var(--mainOrange);
  font-weight: bold;
  font-family: Poppins-SemiBold;
  line-height: 1;
}
.price-guaranteed img{
  width: 100%;
}
.step-heading{
  color: #fff;
  letter-spacing: .5px;
  text-shadow: -2px 2px 1px #d12b28;
  font-size: 18px!important;
  padding: 15px 20px 10px;
  display: block;
  border: 1px solid #a55e06;
  border-left: none;
  border-right: none;
  background: #ea5c22;
  background: linear-gradient(to bottom,#ea5c22 0,#e24118 100%);
  box-shadow: inset -1px 1px 1px #f3a483;
  font-family: Poppins-SemiBold;
}
.testimonial h3,
.featured h3{
  color: var(--mainOrange);
  font-weight: bold;
  font-family: Poppins-SemiBold;
}
.featured img{
  width: 100%;
  object-fit: contain;
  height: 80px
}
.avatar-image {
  text-align: center;
  position: relative;
  z-index: 1000;
}
.avatar-image img {
  border: 4px solid #999;
  box-shadow: 0 0 6px #bbb;
  margin-top: -60px;
  position: relative;
  top: 60px;
}
.quote-block .comment {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
  color: #999;
  box-shadow: 0 0 2px #f4f4f4;
  min-height: 150px;
  position: relative;
}
.quote-block blockquote {
  background: url(images/quote-left.png) no-repeat top left;
  border-left: none;
  margin: 0;
  padding: 0;
}
.quote-block .comment p {
  margin-top: 30px;
}
.quote-block blockquote p {
  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  padding-top: 35px;
}
.quote-block blockquote p i {
  display: inline-block;
  background: url(images/quote-right.png) no-repeat left center;
  height: 15px;
  width: 15px;
  margin-left: 5px;
}
.quote-block .comment:after {
  content: "";
  display: block;
  height: 12px;
  width: 23px;
  background: transparent url(images/speech-arrow.png) no-repeat center center;
  position: absolute;
  bottom: -12px;
  left: 35px;
}
.quote-block .name {
  font-weight: 700;
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.sell-phones{
  text-align: center;
  border-top: 1px solid var(--mainOrange);
  border-bottom: 1px solid var(--mainOrange);
  padding: 10px 0;
}
.sell-phones h3,
.sell-phones h5{
  margin-bottom: .5rem;
  color: var(--mainOrange);
  font-family: Poppins-SemiBold;
}
.selling-info h4{
  color: var(--mainOrange);
  font-family: Poppins-SemiBold;
}
.selling-info ol li,
.selling-info p{
  color: var(--mainGray);
  font-size: .8rem;
  margin-bottom: .5rem;
}
.sell-my-phone{
  text-align: center;
}
.sell-my-phone,
.sell-my-phone:hover{
  color: var(--mainWhite);
  background-color: var(--mainYellow);
  padding: 10px 20px;
  text-decoration: none;
}
/*Buy Page*/
.buy-header{
  background-color: var(--mainBuy);
}
.buy-header h1{
  font-family: Poppins-SemiBold;
  margin-bottom: 1.5rem;
}
.buy-header h4{
  font-family: Poppins-Light;
  color: var(--mainWhite);
  margin-bottom: 1.5rem;
}
.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 0;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 3rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.refurbished{
  text-align: center;
}
.refurbished h4,
.refurbished h1{
  color: var(--mainGray);
  font-family: Poppins-Light;
  font-weight: bold;
  margin-bottom: 1rem;
}
.refurbished-icons .fa{
  font-size: 2rem;
  color: var(--mainGreen);
}
.refurbished-icons p{
  text-align: left;
  color: var(--mainGreen);
  font-family: Poppins-Light;
  font-weight: bold;
}
.refurbished-phones:hover,
.refurbished-phones{
  height: 100%;
  border: 1px solid var(--lightGray);
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--buyProduct);
  font-family: Poppins-Light;
  font-weight: bold;
  padding: .75rem;
}
.refurbished-phones p{
  margin-bottom: 0;
  margin-top: .5rem;
  font-size: .8rem;
}
.refurbished-phones h5,
.refurbished-phones h6
{
  font-family: Poppins-SemiBold;
  font-size: .9rem;
  margin-bottom: .25rem
}
.refurbished-phones img{
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}
.view-details,
.view-details:hover{
  display: block;
  background-color: #469b30;
  text-decoration: none;
  color: var(--mainWhite);
  padding: 5px;
}
.see-all-brands,
.see-all-brands:hover{
  color: var(--buyProduct);
}
.refurbished-tech a{
  text-decoration: none;
}
.refurbished-tech h6{
  font-weight: bold;
  font-family: Poppins-SemiBold;
  color: var(--mainGray);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}
.refurbished-devices p{
  color: var(--mainGray);
  font-size: .8rem;
  text-align: center;
  margin-top: .75rem;
  margin-bottom: .5rem;
}
.buy-list .nav-link:hover,
.buy-list .nav-link{
  color: var(--mainGray);
  text-decoration: underline;
}
.buy-list .nav-link .fa{
  font-weight: bold;
  font-size: 1.25rem;
  margin-right: .25rem;
}
.refurbished-phones-icons h4{
  color: var(--mainOrange);
  font-family: Poppins-SemiBold;
}
.refurbished-phones-icons .fa{
  background-color: var(--mainGreen);
  color: var(--mainWhite);
  height: 50px;
  width: 50px;
  vertical-align: middle;
  line-height: 50px;
  padding: 0px 10px;
  border-radius: 50%;
  font-size: 2rem;
}
.refurbished-phones-icons p{
  color: var(--mainGray);
  font-size: .8rem;
}
.brands h4{
  color: var(--mainOrange);
  font-family: Poppins-SemiBold;
}
.brands img{
  height: 120px;
  width: 90%;
}
.brands h5{
  color: var(--mainOrange);
  font-family: Poppins-SemiBold;
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.single-brand-height {
  min-height: 150px;
  text-align: center;
}
/*Product*/
.product-title{
  margin: 1rem 0;
}
.product-title h2{
  color: var(--mainGray);
  font-family: Poppins-SemiBold;
  position: relative;
  display: flex;
  flex-direction: row;
}
.product-title h2:before, .product-title h2:after{
  content: "";
  flex: 1 1;
  border-bottom: 3px solid var(--mainOrange);
  margin: auto;
}
.product-title h2:before {
  margin-right: 10px
}
.product-title h2:after {
  margin-left: 10px
}
.product-title h2 span{
  color: var(--mainOrange);
}
.product-title p{
  text-align: center;
}
.product-details  .main-image{
  width: 100%;
}
.product-details .product-sub-title{
  color: var(--mainOrange);
  font-family: Poppins-SemiBold;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.product-details .network{
  color: var(--mainGray);
  font-weight: bold;
  margin-bottom: 0;
  font-size: .8rem;
}
.product-details [name=network] {
  position: absolute;
  top: 10px;
  left: 5px;
  display: block;
  height: 18px;
  width: 18px;
}
[name=network] + p {
  padding: 8px 30px 0;
  font-family: 'Poppins-SemiBold';
  font-size: .9rem;
}
.sell-network [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.sell-network [type=radio] + img {
  cursor: pointer;
  padding-left: 0;
}
.sell-network [type=radio]:checked + img {
  border-bottom: 3px solid #f00;
}
.sell-size{
  background-color: var(--SellProduct);
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-size: .8rem;
  font-weight: bolder;
}
.trade-price h3{
  color: #fff!important;
  background: #ccc;
  box-shadow: inset -1px 1px 1px #bbb!important;
  text-shadow: 1px 1px 0 #aaa!important;
  padding: 15px;
  border-radius: 5px;
}
.product-details .card{
  height: 100%;
}
.product-details .card .card-header{
  background-color: var(--mainOrange);
}
.product-details .card .card-header h3{
  color: var(--mainWhite);
  margin-bottom: 0;
  text-align: center;
  font-size: 1rem;
  font-family: Poppins-SemiBold;
}
.product-details .desc{
  display: none;
}
.product-details .nav li{
  font-size: .9rem;
  color: var(--mainGray);
}
.product-details .nav li:hover{
  color: #CA1728;
}
.product-details .gbp{
  text-align: center;
}
.product-details .gbp h2{
  font-family: Poppins-SemiBold;
}
.product-details .gbp p{
  font-family: Poppins-Regular;
}
.product-details .price{
  text-align: center;
}
.product-details .price h3{
  color: var(--mainOrange);
  font-size: 2rem;
  font-family: Poppins-Regular;
}
.available_networks{
  display: none;
}
.available_networks label{
  font-family: Poppins-Regular;
}
#quantity {
  text-align: center;
  padding: 5px;
  margin: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qty {
  width: 60px;
  height: 36px;
  text-align: center;
  border: 1px solid var(--lightGray);
  border-radius: 0;
}
.qty:focus-visible{
  outline:0;
}
.qty-btn{
  width: 30px;
}
.qtyplus,.qtyminus {
  display: block;
  width: 27px;
  height: 18px;
  position: relative;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #6f6f6f;
  border-radius: 0;
  border: 1px solid var(--lightGray);
}
.sell-phone-now{
  padding: 5px 50px !important;
}
/*Buy Details*/
.buy-image img{
  width: 100%;
}
.buy-details h3{
  font-size: 2.5rem;
  font-family: Poppins-Regular;
}
.paypal-stripe{
  display: flex;
  justify-content: center;
  margin:1rem 0;
}
.paypal-stripe img{
  margin: .5rem;
  height: 50px;
  width: 80px;
  border: 1px solid var(--mainOrange);
  object-fit: contain;
}
.buy-rating{
  display: flex;
}
.buy-rating .fa{
  color: var(--mainYellow);
}
.buy-product-title h6{
  font-size: 1.2rem;
  font-family: Poppins-Regular;
  color: var(--mainBlue);
  margin: 1rem 0;
}
.product-price .buy-price{
  font-size: 1.2rem;
  font-family: Poppins-Regular;
  color: var(--mainBlue);
}
.product-price .buy-sale-price{
  font-size: 1.2rem;
  font-family: Poppins-Regular;
  color: var(--mainOrange);
  margin-left: .5rem;
}
.buy-cart input{
  width: 80px;
  height: 50px;
}
.product-cart {
  background-color: var(--mainBlack);
  color: #ffffff;
  padding: .85rem;
  margin-left: .5rem;
}
.blue-text{
  font-family: Poppins-Regular;
  color: var(--mainBlue);
}
.green-text{
  font-family: Poppins-Regular;
  color: var(--mainGreen);
}
/*Buy Page*/
.accessories{
  position: relative;
}
.accessories img{
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.accessories img:hover{
  opacity: 0.8;
}
.accessories h3{
  color: var(--mainWhite);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}
.buy-deals img{
  width: 100%;
}
.buy-deals-details{
  color: var(--mainBlack);
}
.deal-btn{
  background-color: var(--mainBlack);
  color: var(--mainOrange);
  text-decoration: none;
  padding: .5rem 1rem;
}
/*Footer*/
.footer{
  background-color: var(--main-bg);
}
.footer-banner{
  text-align: center;
}
.footer-banner .footer-image{
  width: 100%;
}
.footer-mt{
  margin-top: -10px;
}
.footer-links h6{
  color: var(--mainOrange);
  font-family: Poppins-SemiBold;
}
.footer-links .nav-link:hover,
.footer-links .nav-link{
  color: var(--mainGray);
  font-family: Poppins-SemiBold;
  font-size: .8rem;
  padding: .25rem 0rem;
}
.footer-icons{
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-right: .5rem;
  border-radius: .2rem;
}
.footer-twitter{
  height: 50px;
  width: 50px;
  background-color: #55acee;
}
.footer-facebook{
  height: 50px;
  width: 50px;
  background-color: #3b5998;
}
.footer-youtube{
  height: 50px;
  width: 50px;
  background-color: #e02f2f;
}
.footer-facebook .fa,
.footer-twitter .fa,
.footer-youtube .fa{
  font-size: 2rem;
  color: var(--mainWhite);
}
/* MEDIA QUERY */
@media screen and (max-width: 1200px) {
  .buy-banner{
    left: 110px;
  }
  .banner-right .phones{
    left: 360px;
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .buy-banner{
    left: 300px;
    top: 250px;
    width: 300px
  }
  .banner-left{
    height: 550px;
  }
  .banner-right .phones{
    left: 450px;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .buy-banner{
    left: 250px;
    top: 250px;
    width: 250px;
  }
  .banner-left {
    height: 630px;
  }
  .banner-right .phones{
    left: 450px;
    width: 50%;
  }
  .sign-up-form {
    margin-top: 3rem !important;
  }
}
@media screen and (max-width: 576px) {
  #page-header .logo {
    height: 55px;
    width: 160px;
    object-fit: contain;
  }
  #page-header .buy-phone, #page-header .sell-phone{
    padding: 5px 50px;
  }
  .menu-large{
    margin-top: 10px;
  }
  .menu-border .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .megamenu{
    padding: 5px 0px !important
  }
  .megamenu  .dropdown-item{
    font-size: 12px;
  }
  .foreground{
    top: 30px;
  }
  .banner-right .phones {
    margin-left: 0;
    margin-top: 0px;
    top: -685px;
    left: 220px;
    width: 45%;
    position: relative;
    z-index: 1;
  }
  .sell-banner .heading{
    font-size: 2rem;
  }
  .foreground .card{
    margin-top: 3rem;
  }
  .sell-banner{
    width: 100%;
  }
  .sell-banner .rosette {
    position: absolute;
    top: -18px;
  }
  .sell-banner h4,
  .sell-banner .rosette-mobile h4{
    width: 170px;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 10px;
    color: var(--mainOrange);
  }
  .sell-banner h4{
    font-size: 2rem;
    color: var(--mainBlack);
  }
  .foreground .search{
    margin-top: 2rem;
  }
  .foreground .search .btn-search{
    position: relative;
    width: 100%;
    top: 5px;
  }
  .banner-left{
    height: 850px;
  }
  .buy-banner{
    left: 0;
    top: 8rem;
  }
  .banner-right{
    height: 430px;
  }
  .upgrade-btn{
    display: block;
  }
}
@media screen and (max-width: 350px) {
  .banner-right .phones {
    left: 180px;
    top: -680px;
  }
  .banner-left{
    height: 920px;
  }
  .buy-banner {
    left: 20px;
    top: 3.5rem;
  }
  .buy-banner h2{
    font-size:2.3rem
  }
}

.product-details .network-image{
  width: 100%;
  padding-left: 20px;
}
[name=network] {
  position: absolute;
  top: 12px;
  left: 10px;
  display: block;
}
[name=network] + img {
  cursor: pointer;
}
[name=network]:checked + img {
  border-bottom: 2px solid #f00;
}
[name=network] + p {
  padding: 7px 30px;
}

