:root{
  --mainBlue:#2a2a72;
  --lightblue:#009ffd;
  --mainWhite:#ffffff;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainOrange:#ec5e3e;
  --main-bg:#e9e9e9;
  --mainBlack:#000000
}
a{
  text-decoration: none;
}
@font-face {
  font-family: Poppins-Bold;
  src: url('fonts/Poppins-Bold.ttf');
}
@font-face {
  font-family: Poppins-Light;
  src: url('fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: Poppins-Regular;
  src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url('fonts/Poppins-SemiBold.ttf');
}
body{
  font-family: Poppins-Light !important;
  background:var(--mainWhite) !important;
  color: var(--mainDark) !important;
  overflow-x: hidden;
}
.text-title{
  font-family: "Oswald",sans-serif !important;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.text-orange{
  counter-reset:var(--mainOrange);
}
.text-black{
  counter-reset:var(--mainDark);
}

#page-header {
  background: #fafafa;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 3px;
}
#page-header .buy-phone.active, #page-header .sell-phone.active {
  background-color: var(--mainOrange);
  color: var(--mainWhite);
}
#page-header .buy-phone {
  margin-left: 10px;
}
#page-header .logo{
  height: 45px;
  width: 150px;
  object-fit: cover;
}
#page-header .buy-phone, #page-header .sell-phone {
  border: 2px solid var(--mainOrange);
  color: var(--mainOrange);
  font-size: 18px;
  font-weight: 700;
  padding: 10px 50px;
  text-decoration: none;
}
#page-header .no1-site h4{
  font-family: "vagroundedstd bold",Arial,Helvetica,sans-serif;
  color: var(--mainOrange);
  line-height: 24px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 10px;
}
.svg.rosette {
  float: left;
}

.jumbotron {
  background-color: #5bced3;
  margin-bottom: 30px;
  margin-top: 20px;
  min-height: 344px;
  padding: 0;
}

.jumbotron .row {
  margin-bottom: 0;
}
.row {
  display: block;
  margin-bottom: 10px;
}

.jumbotron h1 {
  color: var(--mainBlack);
  font-family: Oswald,sans-serif;
  font-size: 52px;
  margin-top: 50px;
}
.jumbotron h3 {
  color: var(--mainWhite);
  font-family: Lato,sans-serif;
  font-size: 30px;
  margin-bottom: 45px;
  margin-top: 45px;
}

.home-search {
  margin-left: 75px;
  padding-bottom: 10px;
  position: relative;
  top: -1px;
}

.home-search .form-group {
  display: block;
}

.home-search form span.glyphicon-search {
  float: left;
  left: 15px;
  margin-top: -25px;
  position: relative;
  top: 35px;
}

.home-search form input {
  border-radius: 0;
  font-size: 18px;
  height: auto!important;
  outline: 0;
  padding: 10px;
  padding-left: 50px;
}
/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background: #09131b;
  color: var(--mainWhite);
  min-height: 100vh;
}

/* header */
.header {
  background: #122331;
  position: relative;
  max-width: 80vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
}
.header a {
  text-decoration: none;
  color: var(--mainWhite);
}
.header ul {
  list-style: none;
}
.logo {
  font-size: 2rem;
}
.menu-items {
  display: flex;
  align-items: center;
}
.menu-items li {
  padding: 0.5rem 1rem;
  transition: background 0.3s ease-in-out;
}
.menu-items li:hover {
  background-color: #ff652f;
}

/* dropdown */
.dropdown {
  position: relative;
}
.dropdown-menu,
.menu-right {
  position: absolute;
  background: #122331;
  width: 100%;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.menu-right {
  top: 0;
  left: 110%;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  top: 28px;
  opacity: 1;
  visibility: visible;
}
.dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

/* mega menu  */
.mega-menu {
  position: absolute;
  left: 0;
  width: 80vw;
  top: 80px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.mega-menu .content {
  background: #122331;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.blog .content {
  grid-template-columns: repeat(3, 1fr);
}
.content .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 3rem;
}
.content .col .img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 20vw;
  overflow: hidden;
}
.content .col .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.content .col img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.content .col .img-wrapper:hover img {
  transform: scale(1.1);
}
.content .col h2 {
  color: #ff652f;
  font-size: 1.2rem;
  line-height: 3rem;
  font-weight: bold;
}
.content .col p {
  line-height: 1.2rem;
}
.content .col .mega-links {
  border-left: 1px solid #1a3246;
}
.content .col .read-more {
  display: inline-block;
  padding-top: 1rem;
  color: #427dad;
  transition: color 0.3s ease;
}
.col .mega-links li,
.col .mega-links li a {
  padding: 0 1rem;
}
.menu-items li:hover .mega-menu {
  top: 50px;
  opacity: 1;
  visibility: visible;
}
.content .col .read-more:hover {
  color: #ff652f;
}

/* section */
.section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section h1 {
  font-family: "Titillium Web", serif;
  font-weight: 700;
  line-height: 6vw;
  color: #427dad;
  text-transform: uppercase;
}

/* NEW STUFFS */

/* nav menu button */
.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 2;
}
.menu-btn__lines::before,
.menu-btn__lines::after {
  content: "";
  position: absolute;
}
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background: var(--mainWhite);
  transition: all 0.5s ease-in-out;
}
.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}
.menu-btn__lines::after {
  transform: translateY(0.5rem);
}
/* animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background: transparent;
}
.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background: var(--mainWhite);
}
.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background: var(--mainWhite);
}
/*Custom style*/
.menu-border{
  border-bottom: 2px solid var(--mainOrange);
  background-color: var(--main-bg);
}
.menu-border .navbar{
  padding-top: 0;
  padding-bottom: 0;
}
.menu-large {
  position: static !important;
}
.menu-large .nav-link{
  color: var(--mainBlack) !important;
  text-transform: uppercase;
}
.menu-large > .nav-link:hover{
  background-color: var(--mainOrange);
  color: var(--mainWhite) !important;
}
.menu-large:hover .megamenu{
  display: block !important;
}
.dropdown-toggle::after{
  border: 0 !important;
}
.megamenu {
  padding: 20px 20px !important;
  width: 100%;
  background-color: rgba(233,233,233,0.95) !important;
  margin-top: 13px !important;
  border: 0 !important;
  border-radius: 0 !important;
}
.megamenu h6{
  font-weight: bold;
}
.megamenu .dropdown-item{
  padding: .25rem .25rem;
}
.megamenu .dropdown-item:hover,
.megamenu .dropdown-item:visited{
  background-color: var(--mainOrange);
  color: var(--mainWhite) !important;
}
.banner-left{
  background-color: var(--main-bg);
  height: 630px;
}
.banner-right{
  background-color: var(--mainOrange);
  height: 630px;
}
.banner-right .phones{
  margin-left: -493px;
  margin-top: -653px;
  position: relative;
  top: 653px;
  left: 250px;
  width: 60%;
}
.page-carousel-search{
  position: relative;
}
.foreground{
  position: absolute;
  top: 100px;
  width: 100%;
}
.foreground .card{
  background-color: var(--mainWhite);
}
.foreground .search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.foreground .search input {
  height: 40px;
  text-indent: 0px;
  border: 2px solid #d6d4d4
}

.foreground .search input:focus {
  box-shadow: none;
  border: 2px solid var(--mainOrange)
}

.foreground .search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px
}

.foreground .search .btn-search {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px;
  width: 110px;
  background: var(--mainOrange);
  color: var(--mainWhite);
  border-radius: 0;
}
.foreground .badges h6{
  font-weight: bold;
  margin-bottom: 0;
}
.foreground .badges a{
  background-color: var(--main-bg);
  color: var(--mainBlack);
  text-decoration: none;
}
.media-object{
  margin-top: 1rem;
}
.media-object img{
  width: 25px;
}
.media-object h5{
  color: var(--mainOrange);
}
.sell-banner{
  width: 90%;
}
.sell-banner .lead{
  color: var(--mainOrange);
  font-weight: bold;
}
.sell-banner .heading{
  color: var(--mainBlack);
  font-weight: bold;
  font-family: cursive;
}
.sell-banner .heading span{
  color: var(--mainOrange);
}
.buy-banner{
  position: relative;
  left: 250px;
}
.buy-banner .lead{
  color: var(--mainYellow);
}
.buy-banner h2{
  color: var(--mainWhite);
  font-family: Poppins-SemiBold;
}
.buy-banner .btn-buy{
  margin-top: 1rem;
  background-color: transparent;
  border-radius: 0;
  border: 2px solid var(--mainWhite);
  color: var(--mainWhite);
  padding: .5rem 2rem;
}
.upgrade{
  text-align: center;
  font-family: Poppins-SemiBold;
  margin-top: 1rem;
}
.upgrade h2{
  font-size: 2rem;
}
.upgrade h2 span{
  color: var(--mainOrange);
}
.upgrade-mobile img{
  margin-top: 1rem;
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.upgrade-btn:hover,
.upgrade-btn {
  border: 2px solid var(--mainOrange);
  color: var(--mainOrange);
  padding: .75rem 1.5rem;
  margin: .5rem;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
/* MEDIA QUERY */
@media screen and (max-width: 1200px) {
  .buy-banner{
    left: 110px;
  }
  .banner-right .phones{
    left: 360px;
    width: 50%;
  }
}
@media screen and (max-width: 992px) {
  .buy-banner{
    left: 300px;
    top: 250px;
    width: 300px
  }
  .banner-left{
    height: 550px;
  }
  .banner-right .phones{
    left: 450px;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .buy-banner{
    left: 250px;
    top: 250px;
    width: 250px;
  }
  .banner-left {
    height: 630px;
  }
  .banner-right .phones{
    left: 450px;
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  #page-header .logo {
    height: 55px;
    width: 160px;
    object-fit: contain;
  }
  #page-header .buy-phone, #page-header .sell-phone{
    padding: 5px 50px;
  }
  .menu-large{
    margin-top: 10px;
  }
  .menu-border .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .megamenu{
    padding: 5px 0px !important
  }
  .megamenu  .dropdown-item{
    font-size: 12px;
  }
  .foreground{
    top: 30px;
  }
  .banner-right .phones {
    margin-left: 0;
    margin-top: 0px;
    top: -685px;
    left: 220px;
    width: 45%;
    position: relative;
    z-index: 1;
  }
  .sell-banner .heading{
    font-size: 2rem;
  }
  .foreground .card{
    margin-top: 3rem;
  }
  .sell-banner{
    width: 100%;
  }
  .sell-banner .rosette {
    position: absolute;
    top: -18px;
  }
  .sell-banner h4,
  .sell-banner .rosette-mobile h4{
    width: 170px;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 10px;
    color: var(--mainOrange);
  }
  .sell-banner h4{
    font-size: 2rem;
    color: var(--mainBlack);
  }
  .foreground .search{
    margin-top: 2rem;
  }
  .foreground .search .btn-search{
    position: relative;
    width: 100%;
    top: 5px;
  }
  .banner-left{
    height: 850px;
  }
  .buy-banner{
    left: 0;
    top: 8rem;
  }
  .banner-right{
    height: 430px;
  }
  .upgrade-btn{
    display: block;
  }
}
@media screen and (max-width: 350px) {
  .banner-right .phones {
    left: 180px;
    top: -680px;
  }
  .banner-left{
    height: 920px;
  }
  .buy-banner {
    left: 20px;
    top: 3.5rem;
  }
  .buy-banner h2{
    font-size:2.3rem
  }
}